*.xlsx
*.csv
logs/*
dags/__pycache__
dags/data_source/gear/files-crop/*.pdf
dags/data_source/gear/files-extract/*.pdf
dags/data_source/gear/files-text-azure/*.txt
!dags/data_source/gsi/Country_name.csv
!dags/data_source/gsi/Meta Global Ranking Dashboard.xlsx
!dags/data_source/fintech/Meta Global Ranking Dashboard.xlsx
!dags/data_source/eodb/meta_eodb.csv
!dags/data_source/wcr/tmp/raw_check/*.xlsx
!dags/output/wdcr/raw/*.xlsx